
/* Este fichero contendrá unicamente las animaciones para tenerlas separadas
del resto de estilos. 

Hay una animacion para cada barra de progreso ya que,
a no ser de que se repitan, cada uno de ellos hace la animacion hasta un ancho
distinto (el que le corresponda). FE y BE se refiere a FrontEnd y BackEnd */


@keyframes progressBarAnimation_FE_1 {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
}

@keyframes progressBarAnimation_FE_2 {
    from {
      width: 0%;
    }
    to {
      width: 60%;
    }
}

@keyframes progressBarAnimation_FE_3 {
    from {
      width: 0%;
    }
    to {
      width: 85%;
    }
}

@keyframes progressBarAnimation_FE_4 {
    from {
      width: 0%;
    }
    to {
      width: 25%;
    }
}

@keyframes progressBarAnimation_BE_1 {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
}

@keyframes progressBarAnimation_BE_2 {
    from {
      width: 0%;
    }
    to {
      width: 67%;
    }
}

@keyframes progressBarAnimation_BE_3 {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
}

@keyframes progressBarAnimation_BE_4 {
    from {
      width: 0%;
    }
    to {
      width: 35%;
    }
}


/* Esta animacion es utilizada en la seccion #about para darle un efecto
de "aparición". También es utilizada en el porcentaje de las barras de progreso,
para que vayan apareciendo a la vez que la barra va agrandando. */

@keyframes opacityAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}