
/* La mayoria de media querys (quitando la primera y segunda con el menu hamburguesa) 
se basan en ir reduciendo los tamaños de la fuente y ajustando espacios */

@media screen and (max-width: 460px){

    /* Este media screen es para dispositivos moviles (e incluso dispositivos 
    un poco mas grandes) */

    header a{
        width: 70%;
    }


    /* Hacemos los titulos de las secciones mas puequeños y ajustamos espacios */
    h2{
        /* El !important es porque si no lo ponia no funcionaba, ns exactamente por que. */
        font-size: 4em !important;
        font-weight: 700;
        margin-bottom: 5rem;
        padding-top: 2rem;
    }

    /* Los margenes -0.1rem son para que no aparezcan pequeñas lineas entre secciones */

    section{
        margin-top: -0.1rem;
    }

    div.homeContainer{
        width: 100%;
        margin-top: -0.1rem;
    }

    #title{
        font-size: 6rem !important;
    }


/* ----------------------------------------------------------------------------------------- */

    /* De aquí hasta el proximo separador son los estilos para el menu hamburguesa */

    .checkbtn{
        display: block;
    }

    .fixed_position{
        /* Esto es para que cuando aparezca la lista del menu hamburguesa no se pueda scrollear */
        overflow: hidden;
    }

    nav ul.menu{
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--primary-color);
        top: 4em;
        left: -200%;
        text-align: center;
        transition: all 0.5s;
    }

    nav .open ~ ul.menu{
        left: 0;
    }

    nav ul li{
        display: block;
        padding: 1rem;
        line-height: 1.875em;
    }

    nav ul li a:hover, nav ul li a:active{
        font-size: 1.5em;
        padding: 0.5rem 10rem;
    }

    .hamburger-lines {
        
        height: 2em;
        width: 2.5em;
    
        position: absolute;
        top: 0.5em;
        right: 0px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 2rem;
        border-radius: 50%;
    }

    .hamburger-lines .line {
        height: 0.2em;
        width: 100%;
        border-radius: 10px;
        background-color: white;
    }
    
    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    
    /* Aqui hacemos la animacion de transformar la hamburguesa en una X.
    El cuando se transforma lo controlo mediante clases en Jquery */

    .open .line1 {
        transform: rotate(47deg);
    }

    .open .line2 {
        transform: scaleY(0);
    }
      
    .open .line3 {
        transform: rotate(-47deg);
    }

/* ----------------------------------------------------------------------------------------- */

    /* Al final el aside lo deje fijo en 5vw, pero para este media query simplemente hago
    los iconos mas pequeños. El padding descolocaba el aside al scrollear y ns por que el 
    calc() no funcionaba a partir de ~390 pixeles */

    aside i{
        scale: 2.5;
    }

    /* Cambiamos la direccion del flex a column y ajustamos los padding
    y margenes de los textos */
    #about{
        flex-flow: column wrap;
        gap: 0px;
        justify-content: space-evenly;
        align-items: center;
    }

    #about img{
        width: 100%;
        height: 25vh;
        margin-top: 0;
    }

    .about-me--text{
        height: 45%;
    }

    .about-me--text h2{
        margin-bottom: 0;
    }

    .about-me--text p{
        font-size: 1.5rem;
        font-weight: 400;
        text-align: justify;
    }

    .p_percentage{
        font-size: 0.7em;
        padding-top: 0.4em;
    }


    /* Al cambiar el flexbox de projects a column, necesitamos bastante mas espacio para dicho section */

    #projects{
        height: 200vh;
    }

    #projects h2{
        margin-bottom: 17rem;
    }

    div.works-container{
        flex-flow: column nowrap;
        height: 67%;
        gap: 2rem;
    }

    div.single-work-container{
        width: 100%;
        height: calc(100vh / 4);
    }

    div.single-work-container a{
        width: 85vw;
        height: 100%;
    }

    div.single-work-container h3, div.single-work-container p{
        display: none;
    }

    #skills{
        height: 100vh;
    }

    .skills-class{
        margin-top: 0;
        height: 70%;
    }

    .frontend-skills, .backend-skills{
        width: 40%;
    }

    .progress-bar{
        width: 100%;
    }

    /* Ajustamos los titulos de algunos section para corregir sus espacios */

    #skills h2, #services h2, #testimonials h2, #contact h2{
        margin-bottom: 0;
        padding-top: 10rem;
        padding-bottom: 5rem;
    }

    #skills h3{
        font-size: 2rem;
    }

    #skills h4{
        font-size: 1.2rem;
    }

    #skills img{
        width: 20%;
    }

    #skills .progress-bar{
        width: 100%;
    }

    #services{
        height: 255vh;
    }

    .servicesContainer{
        width: 100%;
        flex-direction: column;
    }

    div.single-service{
        width: 80vw;
        margin-bottom: 2rem;
    }

    div.service--title{
        width: 100%;
        gap: 3rem;
    }

    div.service--title h3, div.service--title i{
        font-size: 2rem;
    }

    div.single-service p, div.single-service p span{
        font-size: 1.5rem;
    }

    #testimonials{
        height: 110vh;
    }

    .testimoniesContainer{
        flex-flow: column wrap;
    }

    .singleTestimonie{
        width: 75vw;
        height: 20vh;
        position: relative;
        cursor: pointer;
    }

    .singleTestimonie img{
        border-radius: 1rem;
    }

    .card--info{
        font-size: 1.5rem;
    }

    #contact{
        height: 125vh;
    }

    form{
        width: 70%
    }

    form > input[type="submit"]{
        width: 50%;
    }
}


@media screen and (min-width:460px) and (max-width: 660px){

    /* Media query dede 460 hasta 660 (muy parecido al anterior) */

    aside i{
        scale: 2.7;
    }

    h2{
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 4rem;
        padding-top: 2rem;
    }

    /* Los margenes -0.1rem son para que no aparezcan pequeñas lineas entre secciones */

    section{
        margin-top: -0.1rem;
    }

    div.homeContainer{
        width: 100%;
        margin-top: -0.1rem;
    }

    h2#title{
        font-size: 7rem;
    }

    .checkbtn{
        display: block;
    }

    .fixed_position{
        overflow: hidden;
    }

    nav ul.menu{
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        top: 4em;
        left: -200%;
        text-align: center;
        transition: all 0.5s;
    }

    nav .open ~ ul.menu{
        left: 0;
        padding: 0;
    }

    nav ul li{
        display: block;
        padding: 1rem;
        line-height: 1.875em;
    }

    nav ul li a:hover, nav ul li a:active{
        font-size: 1.5em;
        padding: 0.5rem 10rem;
    }

    .hamburger-lines {
        
        height: 2em;
        width: 2.5em;
    
        position: absolute;
        top: 0.3em;
        right: 0px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 2rem;
        border-radius: 50%;
    }

    .hamburger-lines .line {
        height: 0.2em;
        width: 100%;
        border-radius: 10px;
        background-color: white;
    }
    
    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    
    .open .line1 {
        transform: rotate(47deg);
    }

    .open .line2 {
        transform: scaleY(0);
    }
      
    .open .line3 {
        transform: rotate(-47deg);
    }

    #about{
        flex-flow: column nowrap;
        margin-top: -0.3rem;
        height: 130vh;
    }

    #about img{
        width: 50%;
        margin-top: 0;
    }

    .about-me--text{
        align-items: center;
        text-align: center;
    }

    .about-me--text p{
        font-size: 1.8rem;
    }

    .p_percentage{
        font-size: 0.7em;
        padding-top: 0.4em;
    }

    #projects{
        height: 180vh;
    }

    div.single-work-container{
        width: 45vw;
    }

    #skills{
        height: 120vh;
    }

    #skills h3{
        font-size: 3rem;
    }

    #services{
        height: 255vh;
    }

    .servicesContainer{
        width: 100%;
        flex-direction: column;
    }

    div.single-service{
        width: 80vw;
        margin-bottom: 2rem;
    }

    div.service--title{
        width: 100%;
        gap: 3rem;
    }

    div.service--title h3, div.service--title i{
        font-size: 2.3rem;
    }

    div.single-service p, div.single-service p span{
        font-size: 1.7rem;
    }

    #testimonials{
        height: 150vh;
    }

    .testimoniesContainer{
        flex-flow: column wrap;
    }

    .singleTestimonie{
        width: 75vw;
        height: 30vh;
        position: relative;
        cursor: pointer;
    }

    .singleTestimonie img{
        border-radius: 1rem;
    }

    .card--info{
        font-size: 1.5rem;
    }

    #contact{
        height: 125vh;
    }

    form{
        width: 70%
    }

    form > input[type="submit"]{
        width: 50%;
    }
}

@media screen and (min-width: 660px) and (max-width: 1300px){

    /* Media query para tablets principalmente */

    /* Vamos a poner el menu debajo del titulo */
    
    header{
        display: flex;
        flex-flow:  column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        height: 20vh;
    }

    .logo h1{
        font-size: 4rem;
    }

    ul.menu{
        display: flex;
        gap: 1.5em;
        margin-right: 7rem;
    }
    
    h2#title{
        font-size: 6.5rem;
    }

    h2{
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 4rem;
        padding-top: 2rem;
    }

    div.service--title{
        width: 100%;
        gap: 3rem;
    }

    div.service--title h3, div.service--title i{
        font-size: 2rem;
    }

    div.single-service p, div.single-service p span{
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 1300px) and (max-width: 1600px){

    /* Media query para pantallas de portatil */

    .logo h1{
        font-size: 2.3rem;
    }

    ul.menu{
        gap: 1em;
        font-size: 1.8rem;
    }

    h2{
        font-size: 5rem;
        margin-bottom: 10rem;
    }

    h2#title{
        font-size: 6rem;
    }

    #skills{
        height: 140vh;
    }

    #skills h2{
        padding-top: 5rem;
    }

    .skills-class h3{
        font-size: 3.5rem;
    }

    .single-service p{
        font-size: 1.8rem;
    }
    
    .single-service p span{
        font-size: 1.8rem;
    }
    
    .service--title h3, .service--title i{
        font-size: 2rem;
    }

    #testimonials{
        height: 150vh;
    }

    #testimonials h2{
        padding-top: 5rem;
    }

    #contact{
        height: 105vh;
    }

    form > label, form > input, form > textarea{
        font-size: 1.5rem;
    }
}